.DS_Store
.bin
.git
.gitignore
.bundleignore
.bundle
.byebug_history
spec
.rspec
tmp
log
config/initializers/secret_token.rb
config/master.key
config/deploy
public/packs
public/packs-test
node_modules
yarn-error.log
coverage/
.env
